
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <!-- <p>&copy; Blogs 2023</p> -->
  </div>
</div>
</body>
<script>
  function openNav() {
    document.getElementById("sidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
  }
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    var eyeIcon = document.getElementById("eye-icon");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eyeIcon.classList.remove("fa-eye");
      eyeIcon.classList.add("fa-eye-slash");
    } else {
      passwordInput.type = "password";
      eyeIcon.classList.remove("fa-eye-slash");
      eyeIcon.classList.add("fa-eye");
    }
  }
  </script>
</html>
