
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <!-- <p>&copy; Blogs 2023</p> -->
  </div>
</div>
</body>
<script>
  function openNav() {
    document.getElementById("sidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
  }
  </script>
</html>
