<%- include("partials/header"); -%>
<form class="" action="/compose" method="post">
  <h1>Write your post!</h1>
  <input type="text" name="postTitle" placeholder="Title" required />
  <input type="text" name="postAuthor" placeholder="Author" required />
  <textarea
    name="postBody"
    rows="5"
    cols="30"
    required
    placeholder="Post Content"
  ></textarea>
  <button type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>
