* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}
.home-section {
  margin-top: 5%;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: black;
  color: #fff;
}
.navbar-nav li a {
  color: #fff !important;
}
.navbar-nav li a:hover,.navbar-nav li a:active {
  background: transparent;
}
.footer-padding {
  padding-bottom: 60px;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.footer p {
  margin-top: 25px;
  font-size: 12px;
}
.author-name {
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 16px;
}
form {
  margin-top: 20px;
  padding: 40px;
}
.login-form,
.register-form,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input,
textarea {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
}
button,.editBtn,.dltBtn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form a,
.register-form a {
  color: #333;
  text-decoration: underline;
}
.hamburger,.sidenav{
  display: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav li{
  list-style: none;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #fff;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.hamburger{
 position: absolute;
 top: 15px;
 right: 0;
}
.editBtn:hover,.editBtn:active,.dltBtn:hover,.dltBtn:active{
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width:425px) {
  .navbar-nav{
   display: none;
  }
  .hamburger,.sidenav{
   display: block;
 }
 }